<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <!-- ICONO -->
    <link rel="icon" type="image/x-icon" href="./../icono.ico">
    <!-- CSS -->
    <link rel="stylesheet" href="./../css/estilos.css">
</head>

<body>
    <!-- HEADER -->
    <header>
        <img src="./../assests/images/logo.png" alt="Logotipo" class="logo">
        <h1>CLASSIC ENGINE</h1>
        <nav class="navigationBar">
            <input type="checkbox" id="checkMenu" class="checkMenu">
            <ul class="navigationBarList">
                <li>
                    <a href="./../index.html" class="navigationLink">Inicio</a>
                </li>
                <li>
                    <a href="./../views/producto.html" class="navigationLink">Producto</a>
                </li>
                <li>
                    <a href="./../views/presupuesto.html" class="navigationLink">Presupuesto</a>
                </li>
                <li>
                    <a href="#" class="navigationLink active">Contacto</a>
                </li>
            </ul>
            <label for="checkMenu" class="labelCheck">
                <img src="./../assests/images/menu-1-svgrepo-com.svg" alt="Logo Menu" class="imgMenu" width="60"
                    height="60">
            </label>
        </nav>
    </header>
    <!-- MAIN -->
    <main class="containerContact">
        <section class="sectionContact">
            <div class="boxContact">
                <h2 class="titleContact">Como Contactarnos</h2>
                <table class="tableContact">
                    <tbody>
                        <tr>
                            <th>Dirección</th>
                            <td>C. de Olite, 43, 31004 Pamplona, Navarra</td>
                        </tr>
                        <tr>
                            <th>Teléfono</th>
                            <td>+34 123 45 67 78</td>
                        </tr>
                        <tr>
                            <th>Correo Electrónico</th>
                            <td>empresa@empresa.com</td>
                        </tr>
                        <tr>
                            <th>Horario</th>
                            <td>8:00 - 13:00 / 15:00 - 18:00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- Link del Mapa -->
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2926.9601679944903!2d-1.6355045240443293!3d42.81032777115467!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd50928a48c05bc3%3A0x146b0f79713012b7!2sAcademia%20Oposiciones%20y%20Cursos%20%7C%20MasterD%20Pamplona!5e0!3m2!1ses!2ses!4v1744149191018!5m2!1ses!2ses"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
    </main>
    <!-- FOOTER -->
    <footer class="footer">
        <ul class="socialIcon">
            <li class="iconElem">
                <a href="https://www.youtube.com/" class="icon">
                    <ion-icon name="logo-youtube"></ion-icon>
                </a>
            </li>
            <li class="iconElem">
                <a href="https://www.instagram.com/" class="icon">
                    <ion-icon name="logo-instagram"></ion-icon>
                </a>
            </li>
            <li class="iconElem">
                <a href="https://www.facebook.com/" class="icon">
                    <ion-icon name="logo-facebook"></ion-icon>
                </a>
            </li>
            <li class="iconElem">
                <a href="https://x.com/" class="icon">
                    <ion-icon name="logo-twitter"></ion-icon>
                </a>
            </li>
            <li class="iconElem">
                <a href="https://workspace.google.com/intl/es-419/gmail/" class="icon">
                    <ion-icon name="mail-unread-outline"></ion-icon>
                </a>
            </li>
        </ul>
        <p class="copyright">C. de Olite, 43, 31004 Pamplona, Navarra<br>@Año | Todos los derechos reservados</p>
    </footer>
    <!-- SCRIPTS para IONICONS-->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>